.product-screen {

  // We should reset the width here, since this was previously the customer's shopping cart
  .leftpane {
    max-width: unset;
    width: unset;
  }

  .rightpane {
    max-width: 450px;
    width: 450px;
  }

  .products-widget-control {

    .category-button img{
      object-fit: contain;
    }

    .input-group {
      align-items: center;
    }
  }

  .product-list-container {
    .product-list {
      .product {
        .product-img img {
          object-fit: contain;
        }
      }
    }
  }

}