.product-favorite-tag {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #f3cc02 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
}

.product-favorite-tag-logo {
    position: absolute;
    left: 3px;
    bottom: 13px;
}
